---
---

<nav class="bg-indigo-600 text-white p-4 flex justify-center gap-6 shadow">
    <a href="/" class="hover:underline">Inicio</a>
    <a href="/servicios" class="hover:underline">Servicios</a>
    <a href="/proyectos" class="hover:underline">Proyectos</a>
    <a href="/contacto" class="hover:underline">Contacto</a>
  </nav>
  